html, body {
    background-color: #fff;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

:root {
    --black: #0d1f32;
}

@font-face {
    font-family: "PlusJakartaSans";
    src: url('/fonts/PlusJakartaSans-Bold.ttf') format('truetype');
}

/*-----  Background  -----*/
#background{
    position: absolute;
    background-color: #fdfbf9;
    z-index: -2;
    filter: blur(100px);
}

#bubbles{
    position: absolute;
    background-color: #f000;
    z-index: -1;
}

/*-----  content  -----*/

.content{
    position: absolute;
    margin: 0;
    height: 100vh;
    width: 100%;
    z-index: 2;
}

.content .logo{
    position: relative;
    content:url(/images/Logo.svg);
    width: 2.5rem;
    top: 3rem;
    left: 3rem;
}

.content .welcome{
    position: relative;
    font-family: "PlusJakartaSans";
    color: var(--black);
    font-size: 2rem;
    text-align: center;
    top: 33vh;
}

.content .icons{
    position: relative;
    display: flex;
    top: 40vh;
    height: 36px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
}

.content .icons .icon{
    display: inline-block;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    width: auto;
    height: 32px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 32px;
    transition-timing-function: cubic-bezier(0,.77,.51,1);
    transition-duration: 0.4s;
    margin-left: 26px;
    margin-right: 26px;
    padding-top: 35px;
    text-decoration: none;
    font-family: "PlusJakartaSans";
    font-size: 1rem;
    color: #fff0;
}

.content .icons a:hover{
    height: 100px;
    padding-top: 45px;
    background-size: 36px;
    color: var(--black);
}

.content .icons .linkedin{
    background-image: url(/images/Linkedin.svg);
}

.content .icons .github{
    background-image: url(/images/Github.svg);
}

.content .icons .email{
    background-image: url(/images/Email.svg);
}