html, body {
    background-color: #fff;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

:root {
    --black: #0d1f32;
}

@font-face {
    font-family: "PlusJakartaSans";
    src: url('/fonts/PlusJakartaSans-Bold.ttf') format('truetype');
}

/*-----  Background  -----*/

.background{
    position:absolute;
    margin: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: -1;
    background-color: #fdfbf9;
}

.background #rectangle1{
    position: absolute;
    width: 20%;
    height: 40%;
    top: -64px;
    right: -0px;
    background-color: #ECBD53;
    opacity: 40%;
    transform: rotate(50deg);
    filter: blur(8rem);
}

.background #rectangle2{
    position: absolute;
    bottom: -15vw;
    left: -15vw;
    width: 60%;
    height: 50%;
    background-color: #3961D1;
    opacity: 30%;
    transform: rotate(60deg);
    filter: blur(6rem);
}

.background .fixed-bubbles .b-large{
    position: absolute;
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
}

.background .fixed-bubbles .b-medium{
    position: absolute;
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
}

.background .fixed-bubbles .b-small{
    position: absolute;
    width: 1vh;
    height: 1vh;
    border-radius: 50%;
}

.background .fixed-bubbles #b1{
    bottom: 12vh;
    left: 16vw;
    background-color: #7c70ff;
}

.background .fixed-bubbles #b2{
    bottom: 22vh;
    right: 12vw;
    background-color: #C0F1A9;
}

.background .fixed-bubbles #b3{
    top: 15vh;
    right: 20vw;
    background-color: #FFD67F;
}

.background .fixed-bubbles #b4{
    bottom: 24vh;
    left: 11vw;
    background-color: #b9a0ff;
}

.background .fixed-bubbles #b5{
    bottom: 13vh;
    right: 14vw;
    background-color: #8AD3B7;
}

.background .fixed-bubbles #b6{
    top: 6vh;
    right: 18vw;
    background-color: #FFB064;
}

.background .fixed-bubbles #b7{
    bottom: 30vh;
    left: 20vw;
    background-color: #5879E2;
}

.background .fixed-bubbles #b8{
    bottom: 25vh;
    right: 20vw;
    background-color: #AAE8DB;
}

.background .fixed-bubbles #b9{
    top: 12vh;
    right: 28vw;
    background-color: #FFC2BD;
}

/*-----  Main  -----*/

.content{
    position: absolute;
    margin: 0;
    height: 100vh;
    width: 100%;
    z-index: 2;
}

.content .logo{
    position: relative;
    content:url(/images/Logo.svg);
    width: 2.5rem;
    top: 3rem;
    left: 3rem;
}

.content .welcome{
    position: relative;
    font-family: "PlusJakartaSans";
    color: var(--black);
    font-size: 2rem;
    text-align: center;
    top: 33vh;
}

.content .icons{
    position: relative;
    display: flex;
    top: 40vh;
    height: 36px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
}

.content .icons .icon{
    display: inline-block;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    width: auto;
    height: 32px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 32px;
    transition-timing-function: cubic-bezier(0,.77,.51,1);
    transition-duration: 0.4s;
    margin-left: 26px;
    margin-right: 26px;
    padding-top: 35px;
    text-decoration: none;
    font-family: "PlusJakartaSans";
    font-size: 1rem;
    color: #fff0;
}

.content .icons a:hover{
    height: 100px;
    padding-top: 45px;
    background-size: 36px;
    color: var(--black);
}

.content .icons .linkedin{
    background-image: url(/images/Linkedin.svg);
}

.content .icons .github{
    background-image: url(/images/Github.svg);
}

.content .icons .email{
    background-image: url(/images/Email.svg);
}